# 1. What are data structures, and why are they important?
- Data structures :- Data structures are particular ways of origanizing, storing, and managing data in a computer so it can be accessed and modified efficiently.
#Importance of data structures
- Code efficiency: A well data structure can significantly speed up a program's performance by optimizing operations.
- Large-scale data management: They make it feasible to manage and process massive datasets that would otherwise be too slow or cumbersome to handle.

# 2. Explain the difference between mutable and immutable data types with examples?
- Mutable Data types: Mutable data types are those whose values can be changed or modified after they are created, without creating a new object in memory. ex:- list , dictionary etc
- Immutable data types: Immutable data types are those whose values can not changed or modified after they are created. ex - Tuples and String

# 3. What are the main differences between lists and tuples in Python?
- List is a mutable data types while tuples are immutable data types.

# 4. Describe how dictionaries store data.
- Dictionaries store data as key-value pairs. In dictionaries key is a immutable while value is a mutable. key must be unique in dictionaries

# 5. Why might you use a set instead of a list in Python?
# In many scenario can use set instead of list
- To ensuring uniqueness
- for efficient membership testing
- for performing set operations

# 6.  What is a string in Python, and how is it different from a list?
- In Python, a string is a sequence of characters, used to represent text while a list in Python is an ordered collection of items, which can be of any data type.
- Strings are immutable, meaning their content cannot be changed after creation while Lists are mutable, meaning their elements can be modified, added, or removed after creation.

# 7. How do tuples ensure data integrity in Python?
- Tuples ensure data integrity in Python primarily through their immutability. This characteristic means that once a tuple is created, its elements cannot be changed, added, or removed.

# 8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table, also known as a hash map is a data structure that stores key-value pairs. When you create a dictionary and add key-value pairs, Python internally uses a hash table to store and manage this data.

# 9.  Can lists contain different data types in Python?
- Yes, Python lists can contain different data types.Python lists are not restricted to holding elements of a single data type. You can mix integers, floats, strings, booleans, and even other lists or objects within the same list.

# 10. Explain why strings are immutable in Python.
Python strings are immutable because their content cannot be changed after creation.

What advantages do dictionaries offer over lists for certain tasks
 How do sets handle duplicate values in Python
 Describe a scenario where using a tuple would be preferable over a list
 How does the “in” keyword work differently for lists and dictionaries
 Can you modify the elements of a tuple? Explain why or why not
 What is a nested dictionary, and give an example of its use case
 Describe the time complexity of accessing elements in a dictionary
 In what situations are lists preferred over dictionaries
 Why are dictionaries considered unordered, and how does that affect data retrieval
 Explain the difference between a list and a dictionary in terms of data retrieval

# 11. What advantages do dictionaries offer over lists for certain tasks?
# Advantage over List:
- faster data retrieval and organization.
- A unique identifier (key) instead of an index.

# 12. How do sets handle duplicate values in Python?
- Sets do not allow any duplicate elements. If insert the same item then it  overwrites previos one. When attempt to add an element that already exists in a set, the set will simply ignore the addition and remain unchanged.

# 13. Describe a scenario where using a tuple would be preferable over a list.
# A scenario where using a tuple would be preferable over a list is:
- When representing a fixed, unchangeable data, especially when that data represents a single entity or record.
- To define the immutability of that data

# 14. How does the “in” keyword work differently for lists and dictionaries?
- In case of list: It checks the value present in my_list using in operator
- In case of dictionary - It checks the key present in my_dictionary using in operator.

# 15. Can you modify the elements of a tuple? Explain why or why not.
- No, once the tuple has created it can not be modified because tuples are immutable data structures in Python.

#16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary inside a dictionay  where the values associated with one or more keys are themselves other dictionaries.It's a collection of dictionaries into one single dictionary.
ex- Managing the product of different categories.

#17. Describe the time complexity of accessing elements in a dictionary.
# Time Complexities of Python Dictionary:-
- The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup. Time complexity does not significantly increase with the size of the dictionary.

# 18. In what situations are lists preferred over dictionaries.
# Lists are preferred over dictionaries in several situations:-
- In case of ordered collection.
- In case of sequential processing.
- In case of Index-Based Access.

#19.  Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are considered unordered because they don't maintain the order of insertion, as they use a hash table for fast key-based lookups rather than a sequence. This affects data retrieval because you cannot rely on getting items back in the order they were added; instead, you must use the key to access the correct value, which is a very fast operation.

 # 20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - Lists and dictionaries are fundamental data structures, differing significantly in how data is stored and retrieved.
# Lists:
- Ordered Collection: Lists maintain the order of elements as they are added.
- Indexed Access: Data retrieval relies on numerical indices, starting from 0. To access an element, its position within the list must be known.
# Dictionaries:
- Unordered Collection: Dictionaries store data as key-value pairs.
- Key-Based Access: Data retrieval uses unique, immutable keys to directly access associated values. This provides a direct and efficient way to retrieve data.

# 1.  Write a code to create a string with your name and print it.

In [1]:
string = "Navneet"
print(string)

Navneet

# 2. Write a code to find the length of the string "Hello World".

In [2]:
string = "Hello World"
print(len(string))

11

# 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
string = "Python Programming"
print(string[0:3])

Pyt

# 4. Write a code to convert the string "hello" to uppercase.

In [4]:
string = "hello"
print(string.upper())

HELLO

# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [6]:
string = "I like apple"
replaced_string = string.replace("apple","orange")
print(replaced_string)

I like orange

# 6. Write a code to create a list with numbers 1 to 5 and print it.

In [7]:
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [9]:
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

# 8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [10]:
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [11]:
list = ['a', 'b', 'c', 'd']
print(list[1])

b

#10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [12]:
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [13]:
t = (100, 200, 300 )
print(t)

(100, 200, 300)

#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [14]:
t = ('red', 'green', 'blue', 'yellow')
print(t[2:])

('blue', 'yellow')

# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [15]:
t = (10, 20, 5, 15)
print(min(t))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [16]:
t =('dog', 'cat', 'rabbit')
print(t.index("cat"))

1

# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [17]:
t = ("Apple","Mango", "Pineapple")
if "kiwi" in t:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is not in the tuple

# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [18]:
s = {'a', 'b', 'c'}
print(s)

{'c', 'a', 'b'}

# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [19]:
s = {1, 2, 3, 4, 5}
print(s.clear())

None

#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [21]:
s = {1, 2, 3, 4}
s.remove(4)

print(s)

{1, 2, 3}

# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [22]:
s1 =  {1, 2, 3}
s2 = {3, 4, 5}
union_two_set = s1.union(s2)
print(union_two_set)

{1, 2, 3, 4, 5}

# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [23]:
s1 =  {1, 2, 3}
s2 = {2, 3, 4}
intersection_two_set = s1.intersection(s2)
print(intersection_two_set)

{2, 3}

 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [24]:
my_dict = {
    "name": "Navneet",
    "age": 26,
    "city": "Agra"
}
print(my_dict)

{'name': 'Navneet', 'age': 26, 'city': 'Agra'}

# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [25]:
biodata = {'name': 'John', 'age': 25}
biodata['country'] = 'USA'
print(biodata)

{'name': 'John', 'age': 25, 'country': 'USA'}

#  23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [26]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [27]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']

print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [28]:
my_dict = {'name': 'Alice', 'city': 'Paris'}

if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [29]:
list = [ "Mango",1,2, True,4.5]
t = ("red", "green", "blue", 100)

d = {
    "name": "Navneet",
    "age": 26,
    "city": "Agra"
}


print("My List:",list)

print("My Tuple:", t)

print("My Dictionary:", d)

My List: ['Mango', 1, 2, True, 4.5]
My Tuple: ('red', 'green', 'blue', 100)
My Dictionary: {'name': 'Navneet', 'age': 26, 'city': 'Agra'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced).

In [30]:
import random


random_numbers = []
for _ in range(5):
    random_numbers.append(random.randint(1, 100))

random_numbers.sort()

print(random_numbers)

[29, 31, 39, 60, 66]

28. Write a code to create a list with strings and print the element at the third index.

In [36]:
my_string = "Navneet"
my_list = [char for char in my_string]
print(my_list)
print("Element at 3rd index is:",my_list[3])

['N', 'a', 'v', 'n', 'e', 'e', 't']
Element at 3rd index is: n

# 29. Write a code to combine two dictionaries into one and print the result.

In [37]:
dict1 = {'name': 'Navneet', 'age': 26}
dict2 = {'city': 'Agra', 'occupation': 'Engineer'}

combined_dict = {**dict1, **dict2}

print(combined_dict)

{'name': 'Navneet', 'age': 26, 'city': 'Agra', 'occupation': 'Engineer'}

# 30. Write a code to convert a list of strings into a set.

In [38]:
my_list_of_strings = ["Mango", "banana", "orange", "Mango", "grape", "banana"]
my_set_of_strings = set(my_list_of_strings)

print(f"Original list: {my_list_of_strings}")
print(f"Converted set: {my_set_of_strings}")

Original list: ['Mango', 'banana', 'orange', 'Mango', 'grape', 'banana']
Converted set: {'grape', 'Mango', 'orange', 'banana'}